div.container {
  color: black;
  background: linear-gradient(#B985FF, #7835FF);
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2); 
  font-family: 'Josefin Sans', sans-serif;

}

.navbar {
	background-color: #F0E7FF
}

.AyakaMizuki {
	text-align: center;
}